<div class="row">

    <div class="col-6 col-md-6 col-lg-12">
        <h2>WBS - Work Breakdown Structure Level 1</h2>
        <p>The WBS summarizes all the activities and tasks that must completed on a project. As a user I would like to be able to create several different lists and organize these hierarchycally with several levels of subtasks. The WBS can also be used as the master template to create a Project Budget and Project Schedule (THIS SECTION IS THE MVP) </p>
    </div><!--/span-->

</div>


<!-- WBS_1_1 -->
<div class "row">
        <div class="col-12 col-sm-6 col-lg-1">
        </div>

        <div class="col-6 col-sm-6 col-lg-11">
        <h3>WBS L2 - This would be the first activity in the WBSL2 </h3>
          <p><a class="btn btn-default" href="/showWBS_1_1_0" role="button"> Show WBS L3 Activities within this WBSL2  [ie: WBS_1_1_0]  &raquo;</a></p>
        </div><!--/span-->
</div>


<!-- WBS_1_2 -->
<div class "row">
        <div class="col-12 col-sm-6 col-lg-1">
        </div>

        <div class="col-6 col-sm-6 col-lg-11">
        <h3>WBS L2 - This would be the second activity in the WBSL2 </h3>
        </div><!--/span-->
</div>

<!-- WBS_1_2_1 -->
<div class "row">
        <div class="col-12 col-sm-6 col-lg-2">
        </div>

        <div class="col-6 col-sm-6 col-lg-10">
        <h4>WBS L3 - This would be the first activity in the WBSL3 </h4>
        <p><a class="btn btn-default" href="/index" role="button"> **BLANK  Show WBS L4 Activities within this WBSL3 [ie: WBS_1_1_1_0] **BLANK &raquo;</a></p>
        </div>  <!--/span-->
</div>

<!-- WBS_1_2_2 -->
<div class "row">

        <div class="col-12 col-sm-6 col-lg-2">
        </div>

        <div class="col-6 col-sm-6 col-lg-10">
        <h4>WBS L3 - This would be the second activity in the WBSL3 </h4>
        <p><a class="btn btn-default" href="/index" role="button"> **BLANK  Show WBS L4 Activities within this WBSL3 [ie: WBS_1_1_2_0] **BLANK &raquo;</a></p>
        </div><!--/span-->

</div>


<!-- WBS_1_2_3 -->
<div class "row">

        <div class="col-12 col-sm-6 col-lg-2">
        </div>

        <div class="col-6 col-sm-6 col-lg-10">
        <h4>WBS L3 - This would be the third activity in the WBSL3 </h4>
        <p><a class="btn btn-default" href="index" role="button"> **BLANK  Show WBS L4 Activities within this WBSL3 [ie: WBS_1_1_3_0] **BLANK &raquo;</a></p>
        </div><!--/span-->

</div>

<!-- WBS_1_3 -->
<div class "row">
        <div class="col-12 col-sm-6 col-lg-1">
        </div>

        <div class="col-6 col-sm-6 col-lg-11">
        <h3>WBS L2 - 3 </h3>
        <p><a class="btn btn-default" href="/showWBS_1_3_0" role="button"> Show WBS L3 Activities within this WBSL2 &raquo;</a></p>
        </div><!--/span-->
</div>
